<!DOCTYPE html>
<html>
    <head>
        <title>Last news</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="./js/full.js"></script>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="full">
            <div v-if="loading" role="alert" class="info">
                <p>Please wait...</p>
            </div>
            <div class="error" id="error" v-if="errored">
                <p id="errormsg">Network problem. Please try again later...</p>
                <p><a href="javascript:window.location.reload();">Reload page</a></p>
            </div>

            <div id="content">
                <div class="news" v-for="post in posts">
                    <h1>{{ post.Title }}</h1>
                    <p class="pubtime">{{ (new Date(post.PubTime*1000)).toString() }}</p>
                    <div v-html="post.Content"></div>
                    <a :href="post.Link">{{ post.Link }}</a>
                </div>
            </div>
        </div>
    </body>
</html>
