<!DOCTYPE html>
<html>
    <head>
        <title>Last news</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="./js/index.js"></script>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="index">
            <div class="search">
                <div class="searchform">
                    <form method="get" action="./">
                        <input v-model="searchQuery" type="text" name="query">
                        <input type="Submit" value="Search">
                    </form>
                </div>
            </div>

            <div v-if="loading" role="alert" class="info">
                <p>Please wait...</p>
            </div>
            <div class="error" id="error" v-if="errored">
                <p id="errormsg">Network problem. Please try again later...</p>
                <p><a href="javascript:window.location.reload();">Reload page</a></p>
            </div>

            <div>
                <div class="news" v-for="item in posts">
                    <h1>{{ item.Title }}</h1>
                    <p class="pubtime">{{ (new Date(item.PubTime*1000)).toString() }}</p>
                    <a :href="'./full.html#' + item.Id">Read more and comment&gt;&gt;</a>
                </div>
            </div>

            <div class="info">
                <a v-if="page > 1" :href="'#page=' + (parseInt(page)-1)">&lt;&lt;Prev</a>
                [ {{ page }} ]
                <a v-if="page < pageCount" :href="'#page=' + (parseInt(page)+1)">Next&gt;&gt;</a>
            </div>
        </div>
    </body>
</html>
