body {
    background-color: #E0E0E0;
    color: #444444;
    padding: 20px;
    margin: 20px;
}
div.news {
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
}
div.comment {
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
}
h1 {
    font-size: 24px;
}
p {
    font-size: 16px;
}
img {
    max-width: 70%;
}
a {
    color: #409040
}
p.pubtime {
    font-style: italic;
}
div.error {
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
}
.error p {
    color: #FF0000;
}

div.info {
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
}

div.newcomment {
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
}
.newcomment textarea {
    display: block;
    width: 600px;
    height: 200px;
    margin: 5px;
}
.newcomment input {
    display: block;
    margin: 5px;
    height: 35px;
}

div.search {
    text-align: right;
}

div.searchform {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    width: 420px;
    display: inline-block;
}
.search input {
    height: 35px;
}

.search input[type=submit] {
    width: 100px;
}

.search input[type=text] {
    width: 300px;
}

div.commentresulterror {
    background-color: #FFAAAA;
    border-style: solid;
    border-width: 1px;
    border-color: #552222;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    color: #552222;
}

div.commentresultsuccess {
    background-color: #AAFFAA;
    border-style: solid;
    border-width: 1px;
    border-color: #225522;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    color: #225522;
}
